env/
venv/
.venv/
__pycache__/
*.pyc
.git/
.gitignore
*.zip
*.rar
*.7z
*.ipynb
*.csv
*.xlsx
*.jsonl
OG_train_dataset.json
OG_validation_dataset.json
OG_test_dataset.json
HIGH_CONFIDENCE_train_dataset.json
HIGH_CONFIDENCE_validation_dataset.json
HIGH_CONFIDENCE_test_dataset.json
HIGH_CONFIDENCE_converted_dataset.json
output_dataset.json
mdeberta_factcheck/
mdeberta_factcheck_bad_nan/
mdeberta_factcheck_base/
mdeberta_factcheck_base_bad_nan/
sample_data/